.tab-group{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center; 
}
.tab-content-wrap{
    border: 1px solid #dedede;
    padding: 30px;
    margin: 30px 0px;
    border-radius: 10px;
}
#tabs {
    display: flex;
    gap: 30px;
}
#tabs li{
    list-style: none;
}
#tabs li a{
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
    border-radius: 30px;
    font-size: 0;
}
#tabs li .black{
    background: black;
}
#tabs li .blue{
    background: blue;
}
#tabs li .brown{
    background: brown;
}
#tabs li .red{
    background: red;
}